expensetracker-common/src/main/resources/schema/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://slabs.com/expense/tracker/common/db/entity" xmlns:et="http://slabs.com/expense/tracker/common/db/entity"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:annox="http://annox.dev.java.net" jaxb:extensionBindingPrefixes="annox" jaxb:version="2.1"
	elementFormDefault="qualified">

	<element name="ExpenseCategory" type="et:ExpenseCategory" />



	<complexType name="ExpenseCategory">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table: EXPENSE_CATEGORY
				Expense Category will hold the data for table EXPENSE_CATEGORY
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="category_id" type="int" />
			<element name="category" type="string" />
			<element name="description" type="string" />
		</sequence>
	</complexType>

</schema>