expensetracker-common/src/main/resources/schema/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://slabs.com/expensetracker/common/database/entity"
	xmlns:et="http://slabs.com/expensetracker/common/database/entity"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:annox="http://annox.dev.java.net"
	jaxb:extensionBindingPrefixes="annox" jaxb:version="2.1"
	elementFormDefault="qualified">

	<element name="ExpenseCategory" type="et:ExpenseCategory" />
	<element name="UserInfo" type="et:UserInfo" />
	<element name="UserSettings" type="et:UserSettings" />
	<element name="Expense" type="et:Expense" />
	<element name="Inventory" type="et:Inventory" />
	<element name="ExpenseType" type="et:ExpenseType" />
	<element name="Income" type="et:Income" />
	<element name="IncomeType" type="et:IncomeType" />
	<element name="Message" type="et:Message" />	
	<element name="Dashboard" type="et:Dashboard" />
	<element name="Graph" type="et:Graph" />


	<!-- Simple Types -->
	<element name="username" type="string" />

	<complexType name="Dashboard">
		<annotation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="summary" type="et:Summary" />
		</sequence>
	</complexType>

	<complexType name="Summary">
		<annotation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="month" type="int" />
			<element name="year" type="int" />
			<element name="totalIncome" type="double" />
			<element name="totalExpense" type="double" />
			<element name="creditExpense" type="double" />
			<element name="cashInHand" type="double" />
			<element name="username" type="string" />
		</sequence>
	</complexType>

	<complexType name="UserInfo">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				USERINFO
				UserInfo will hold the data for table USERINFO
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="firstName" type="string" />
			<element name="lastName" type="string" />
			<element name="sex" type="string" />
			<element ref="et:username" />
			<element name="password" type="string" />
			<element name="newPassword" type="string" />
			<element name="email" type="string" />
			<element name="mobile" type="string" />
			<element name="address" type="string" />
			<element name="profilePic" type="string" />
			<element name="isAdmin" type="string" default="N" />
			<element name="isVerified" type="string" default="N" />
			<element name="isFtLogin" type="string" default="Y" />
			<element name="isLocked" type="string" default="N" />
			<element name="activationKey" type="string" />
			<element name="settings" type="et:UserSettings" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="UserSettings">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				USER_SETTINGS
				UserSettings will hold the data for table USER_SETTINGS
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element ref="et:username" />
			<element name="currency" type="et:Currency" minOccurs="0" />
			<element name="rcvryemail" type="string" />
		</sequence>
	</complexType>

	<complexType name="Currency">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				CURRENCY
				Currency will hold the data for table CURRENCY
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="currsymb" type="string" />
			<element name="currtxt" type="string" />
		</sequence>
	</complexType>

	<complexType name="ExpenseCategory">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				EXPENSE_CATEGORY
				Expense Category will hold the data for table
				EXPENSE_CATEGORY
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="category" type="string" />
			<element ref="et:username" />
			<element name="description" type="string" />
			<element name="isEditable" type="string" />
		</sequence>
	</complexType>

	<complexType name="Expense">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				EXPENSE
				Expense will hold the data for table EXPENSE
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="itemName" type="string" />
			<element name="expdate" type="date" />
			<element ref="et:username" />
			<element name="category" type="string" />
			<element name="exptype" type="string" />
			<element name="price" type="double" minOccurs="0" />
			<element name="qty" type="double" minOccurs="0" />
			<element name="unit" type="string" />
			<element name="pricePerUnit" type="double" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="Units">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table: UNIT
				Units will hold the data for table UNITS
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="unit" type="string" />
			<element name="description" type="string" />
		</sequence>
	</complexType>


	<complexType name="Inventory">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				INVENTORY
				Inventory will hold the data for table INVENTORY
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="itemName" type="string" />
			<element ref="et:username" />
			<element name="category" type="string" />
			<element name="qty" type="string" />
			<element name="unit" type="string" />
		</sequence>
	</complexType>
	
	<complexType name="ExpenseType">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				EXPENSETYPE
				ExpenseType will hold the data for table EXPENSETYPE
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="exptype" type="string" />
			<element name="description" type="string" />
		</sequence>
	</complexType>

	<complexType name="Income">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				INCOME
				Income will hold the data for table INCOME
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="yr" type="int" minOccurs="1" />
			<element name="mth" type="int" minOccurs="1" />
			<element ref="et:username" minOccurs="1" />
			<element name="incometype" type="string" minOccurs="1" />
			<element name="income" type="double" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="IncomeType">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Schema: EXPENSETRACKER
				Table:
				INCOMETYPE
				IncomeType will hold the data for table INCOMETYPE
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="incometype" type="string" />
			<element name="description" type="string" />
		</sequence>
	</complexType>

	<complexType name="Message">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Message will hold data for
				MESSAGE table
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="id" type="long" />
			<element name="msgto" type="string" />
			<element name="msgfrom" type="string" />
			<element name="msgdate" type="date" />
			<element name="subject" type="string" />
			<element name="message" type="string" />
			<element name="email" type="string" />
			<element name="senderfname" type="string" />
			<element name="senderlname" type="string" />
			<element name="senderpic" type="string" />
			<element name="isNew" type="string" default="Y" />
		</sequence>
	</complexType>

	<complexType name="Graph">
		<annotation>
			<documentation source="https://raevanblog.blogspot.in/">
				Graph will hold data for drawing
				charts
			</documentation>
			<appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" />
				</annox:annotate>
			</appinfo>
		</annotation>
		<sequence>
			<element name="month" type="int" />
			<element name="category" type="string" />
			<element name="year" type="int" />
			<element name="income" type="double" />
			<element name="expense" type="double" />
			<element name="avgprice" type="double" />
			<element name="name" type="string" />
		</sequence>
	</complexType>

</schema>